%html
  %haed
    %script {:type => "text/javascript",
        :src  => "assets/js/login_view.js"}
    %title Login
  %body
    %header
    %form{:method => "POST", :action => "/login"}
      %p
        UserID:
        %input{:type => "text", :name => "userid"}
      %p
        Password:
        %input{:type => "text", :name => "password"}
      %p
        %input{:type => "submit", :value => "submit"}
